@import-normalize; /* bring in normalize.css styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-header {
    background-color: #4a1d96;
  }
  .bg-white-20p {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  .focus-within\:bg-white-30p:focus-within {
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  input {
    outline: 'none';
  }
  .scroll-hide-chrome::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide-ff {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
